.card{
    position: relative;
    width: 150px;
}

.card img{
    width: 100%;
    height: 200px;
    display: block;
    border-radius: 10px;
    object-fit: cover;
}

.card .front {
    transform: rotateY(90deg); 
    transition: all ease-in .2s;
    position: absolute;
}

.flipped .front {
    transform: rotateY(0deg);
    transition-delay: .2s;
}

.card .back{
    transition: all ease-in .2s;
    transition-delay: .2s;
}

.flipped .back{
    transform: rotateY(90deg);
    transition-delay: 0s;
}

